@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p>@Html.ActionLink("See a list of your treats!", "Index", "Treat")</p>
<p>@Html.ActionLink("See a list of your flavors!", "Index", "Flavor")</p>

<p>If you haven't yet, login by clicking the link in the top toolbar.</p>