@{
  Layout = "_Layout";
}

@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Treat>;

<h1>@User.Identity.Name's Treats</h1>

@if (!@Model.Any())
{
  <h3>No treats have been added yet!</h3>
} 

@foreach (Treat treat in Model)
{
  <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
}

<p>@Html.ActionLink("Add a new treat", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
